@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    local('IBM Plex Sans Regular'),
    local('IBMPlexSans-Regular'),
    url(./fonts/IBMPlexSans-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    local('IBM Plex Sans Medium'),
    local('IBMPlexSans-Medium'),
    url(./fonts/IBMPlexSans-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    local('IBM Plex Sans SemiBold'),
    local('IBMPlexSans-SemiBold'),
    url(./fonts/IBMPlexSans-SemiBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    local('IBM Plex Sans Bold'),
    local('IBMPlexSans-Bold'),
    url(./fonts/IBMPlexSans-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
    local('IBM Plex Mono SemiBold'),
    local('IBMPlexMono-SemiBold'),
    url(./fonts/IBMPlexMono-SemiBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
    U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

/* FIXME: import themes if needed */
/* dark theme */
/* @import url(../../theme/colors/dark/vars.css); */
/* @import url(../../theme/effects/dark/vars.css); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 0;
  --content-wo-sidebar: calc(theme(width.viewport) - var(--sidebar-width));

  @screen lg {
    --sidebar-width: theme(spacing.sidebar);
  }
}

@layer base {
  html {
    @apply antialiased;

    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-bg100 font-font1 text-txt900;
  }

  * {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-focus100;
  }

  #nprogress {
    pointer-events: none;
  }

  #nprogress .bar {
    @apply fixed left-0 top-0 h-4px w-full bg-hover100;
    z-index: 99999999;
  }
}

/* .gs - Grid System util https://www.figma.com/file/7NnFCu4jFGBM1EIXSWNAVX/Starterkit-2.0?node-id=690%3A265 */
@layer utilities {
  .container {
    @apply max-w-container;
  }

  .gs {
    @apply grid grid-cols-4 gap-2 sm:grid-cols-8 md:grid-cols-12 lg:gap-3;
  }

  .bg-full {
    backgroundsize: '100% 100%';
    backgroundrepeat: 'no-repeat';
  }

  .scroll-shadow-h {
    background: 'linear-gradient(to right, white 10%, rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,0), white 90%) 0 100%, linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,0) 40px), linear-gradient(to left, rgb(0,0,0), rgba(0,0,0,0) 40px);';
    background-repeat: 'no-repeat';
    background-attachment: 'local, local, scroll, scroll';
  }

  .scroll-shadow-v {
    background: 'linear-gradient(to bottom, white 10%, rgba(0,0,0,0)), linear-gradient(to bottom, rgba(0,0,0,0), white 90%) 0 100%, linear-gradient(to bottom, rgb(0,0,0), rgba(0,0,0,0) 40px), linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0) 40px);';
    background-repeat: 'no-repeat';
    background-attachment: 'local, local, scroll, scroll';
  }

  .stub-gradient {
    background-color: #b462e9;
    background-image: radial-gradient(at 9.1% 93.1%, #cbdcec 0px, transparent 50%),
      radial-gradient(at 86.1% 2.3%, #eeb3c4 0px, transparent 50%),
      radial-gradient(at 98.7% 86.1%, hsl(356, 74%, 51%) 0px, transparent 50%),
      radial-gradient(at 101.8% 32.9%, hsl(356, 74%, 51%) 0px, transparent 50%);
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.bg700') theme('colors.bg100');

    &::-webkit-scrollbar {
      @apply h-4px w-4px bg-bg100;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-lg bg-bg700;
    }
  }
}
